body{
  font-family: sans-serif;
}

@keyframes animatedBackground {
  from {background-position: 0 0;}
  to { background position 100% 0;}
}
#animate-area	{
	width: 560px;
	height: 400px;
	background-image: url(bg-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}


.login{
  padding-left: 50px;
}
.loginLabels{
  text-align: right;
}
div#loginError{
  color: red;
  text-align: center;
}
canvas {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

td.controls{
  text-align: center;
  width: 100px;
}

i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.controls button{
  width: 2em;
  height: 2em;
  text-align: center;
  margin: 6px;
}
