body{
  font-family: sans-serif;
}

.numbers{
  font-weight: bolder;
  font-size: 1.2em;
  width: 60px;
  text-align: right;
  display: inline-block;
}

.login{
  padding-left: 50px;
}
.loginLabels{
  text-align: right;
}
div#loginError{
  color: red;
  text-align: center;
}
canvas {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

td.controls{
  text-align: center;
  width: 100px;
}

i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.controls button{
  width: 2em;
  height: 2em;
  text-align: center;
  margin: 6px;
}
